.container-main {
    padding: 10px;
    margin: auto;
    margin-top: 30%;
    border: 2px solid black;
    width: 50%;
    height: 50%;
    background-color: aqua;
    padding: 10%;
}
img{
    margin: 5%;
}
